################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MasterClass/.vs/MasterClass
/MasterClass/MasterClass
/MasterClass/RecipeBook/obj/Debug/net8.0/RecipeBook.AssemblyInfo.cs
/MasterClass/RecipeBook/obj/Debug/net8.0/RecipeBook.AssemblyInfoInputs.cache
